API_CONFIG_S3_REGION=<value>
API_CONFIG_S3_BUCKET=<value>
API_CONFIG_S3_OBJECT_KEY=<value>
DYNAMO_DB_TABLE_NAME=<value>
DYNAMO_DB_REGION=<value>
AWS_ACCESS_KEY_ID=<value>
AWS_SECRET_ACCESS_KEY=<value>
AWS_DEFAULT_REGION=<value>